<style>
  body {
    font-family: 'Georgia', serif; /* Fuente elegante */
    text-align: center; /* Centrar el contenido */
  }

  h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }

  #articulos {
    margin: 0 auto;
    width: 50%; /* Ajustar el ancho para centrar los artículos */
  }

  .articulo-container {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
  }

  .btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }

  .btn:hover {
    background-color: #45a049;
  }
</style>

<p style="color: green"><%= notice %></p>

<% content_for :title, "Articulos" %>

<h1>Articulos</h1>

<div id="articulos">
  <% @articulos.each do |articulo| %>
    <div class="articulo-container">
      <%= render articulo %>
      <p>
        <%= link_to "Show this articulo", articulo, class: "btn" %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "Nuevo Articulo", new_articulo_path, class: "btn" %>

